header {
    position: fixed;
    z-index: 1;
    margin-left: 250px;
}

body {
    font-size: 12px;
    line-height: 20px;
    font-family: Georgia, Arial, Helvetica, Sans-Serif;
    color: #333;
    background: url() repeat 0 0;
}
